In [1]:
import quandl
import datetime
from bokeh.plotting import figure, show, output_file

In [2]:
start = datetime.datetime(2018, 3, 28)
end  = datetime.datetime(2019, 3, 28)

# Can also pass in the dates as text.
df = quandl.get("CHRIS/ICE_T1", start_date = start, end_date = end, authtoken="kKBgENVq-3A6eeWUb5Pn")

In [23]:
df.tail()

,Open,High,Low,Settle,Change,Wave,Volume,Prev. Day Open Interest,EFP Volume,EFS Volume,Block Volume
Date,,,,,,,,,,,
2019-03-21,60.10,60.40,59.67,59.98,-0.25,60.07,46639.0,64108.0,NaN,NaN,858.0
2019-03-22,59.91,60.06,58.29,59.04,-0.94,58.94,46874.0,65390.0,NaN,NaN,1514.0
2019-03-25,59.00,59.34,58.18,58.82,-0.22,58.83,42983.0,61495.0,NaN,NaN,626.0
2019-03-26,59.16,60.37,59.14,59.94,1.12,59.89,41719.0,58011.0,NaN,NaN,1149.0
2019-03-27,59.85,60.23,58.82,59.41,-0.53,59.55,42916.0,55480.0,NaN,NaN,1324.0

In [5]:
green_bars = df[df['Settle'] > df['Open']] # up days
red_bars   = df[df['Settle'] < df['Open']] # down days 
twelve_hours = 12*60*60*1000

In [39]:
green_bars[]

DatetimeIndex(['2018-03-29', '2018-04-03', '2018-04-09', '2018-04-10',
               '2018-04-11', '2018-04-12', '2018-04-13', '2018-04-17',
               '2018-04-18', '2018-04-20',
               ...
               '2019-03-04', '2019-03-05', '2019-03-06', '2019-03-07',
               '2019-03-11', '2019-03-13', '2019-03-14', '2019-03-18',
               '2019-03-20', '2019-03-26'],
              dtype='datetime64[ns]', name='Date', length=140, freq=None)

In [12]:
fig = figure(x_axis_type='datetime', title = "Candlestick Chart", width=1000, height = 300)
fig.vbar(green_bars.index, width=1, bottom=green_bars["Low"], top=green_bars["High"], color="black")
fig.vbar(green_bars.index, width=twelve_hours, bottom=green_bars["Open"], top=green_bars["Settle"], color="green")

fig.vbar(red_bars.index, width=1, bottom=red_bars["Low"], top=red_bars["High"], color="black")
fig.vbar(red_bars.index, width=twelve_hours, bottom=red_bars["Open"], top=red_bars["Settle"], color="red")

show(fig)