In [35]:
# boilerplate code that I like
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

import os
import pandas
os.listdir()

['.ipynb_checkpoints',
 'loading_data.ipynb',
 'slicing_dataframes.ipynb',
 'supermarkets-commas.txt',
 'supermarkets-semi-colons.txt',
 'supermarkets.csv',
 'supermarkets.json',
 'supermarkets.xlsx']

In [36]:
# load a dataframe and set ID (int) as index
df1 = pandas.read_csv('supermarkets.csv', index_col = "ID")
df1

,Address,City,State,Country,Name,Employees
ID,,,,,,
1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
3,332 Hill St,San Francisco,California 94114,USA,Super River,25
4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [37]:
# load a dataframe and set Adress (string) as index
df2 = pandas.read_csv('supermarkets.csv', index_col = "Address")
df2

,ID,City,State,Country,Name,Employees
Address,,,,,,
3666 21st St,1,San Francisco,CA 94114,USA,Madeira,8
735 Dolores St,2,San Francisco,CA 94119,USA,Bready Shop,15
332 Hill St,3,San Francisco,California 94114,USA,Super River,25
3995 23rd St,4,San Francisco,CA 94114,USA,Ben's Shop,10
1056 Sanchez St,5,San Francisco,California,USA,Sanchez,12
551 Alvarado St,6,San Francisco,CA 94114,USA,Richvalley,20

In [38]:
# get second to third rows of df2
df2.iloc[1:4,:]

# note that the last specifed row of the slice (4) is NOT retrieved.
# because fuck you.

,ID,City,State,Country,Name,Employees
Address,,,,,,
735 Dolores St,2,San Francisco,CA 94119,USA,Bready Shop,15
332 Hill St,3,San Francisco,California 94114,USA,Super River,25
3995 23rd St,4,San Francisco,CA 94114,USA,Ben's Shop,10

In [39]:
# if you only get a single row, you get something that looks very different
df2.iloc[0,:]

# df2.iloc[0] # This is equivalent to the above.

ID                       1
City         San Francisco
State             CA 94114
Country                USA
Name               Madeira
Employees                8
Name: 3666 21st St, dtype: object

In [40]:
# that's because in the second case, it's not a dataframe that is returned
type(df2.iloc[1:4,:])
type(df2.iloc[0,:])

pandas.core.frame.DataFrame

pandas.core.series.Series

In [41]:
# this is a thing, too.
df2.iloc[4:,:]

                 ID           City       State Country        Name  Employees
Address
1056 Sanchez St   5  San Francisco  California     USA     Sanchez         12
551 Alvarado St   6  San Francisco    CA 94114     USA  Richvalley         20

In [42]:
# can slice the columns too
df2.iloc[:, 2]
type(df2.iloc[:, 2])

# the answer is a series indexed by (randomly ordered) addresses.
# not very useful.

Address
3666 21st St               CA 94114
735 Dolores St             CA 94119
332 Hill St        California 94114
3995 23rd St               CA 94114
1056 Sanchez St          California
551 Alvarado St            CA 94114
Name: State, dtype: object

pandas.core.series.Series

In [43]:
df1.iloc[:,2]

ID
1            CA 94114
2            CA 94119
3    California 94114
4            CA 94114
5          California
6            CA 94114
Name: State, dtype: object

In [44]:
# Now for loc. Can't always use iloc because the columns can change order.
df1.loc[:,"State"]

ID
1            CA 94114
2            CA 94119
3    California 94114
4            CA 94114
5          California
6            CA 94114
Name: State, dtype: object

In [53]:
# The numbers in the ID column in the original csv file are imported as integers
df1.loc[1] # works
# df1.loc["1"] # doesn't work

Address       3666 21st St
City         San Francisco
State             CA 94114
Country                USA
Name               Madeira
Employees                8
Name: 1, dtype: object

In [54]:
# Recall df2
df2

,ID,City,State,Country,Name,Employees
Address,,,,,,
3666 21st St,1,San Francisco,CA 94114,USA,Madeira,8
735 Dolores St,2,San Francisco,CA 94119,USA,Bready Shop,15
332 Hill St,3,San Francisco,California 94114,USA,Super River,25
3995 23rd St,4,San Francisco,CA 94114,USA,Ben's Shop,10
1056 Sanchez St,5,San Francisco,California,USA,Sanchez,12
551 Alvarado St,6,San Francisco,CA 94114,USA,Richvalley,20

In [62]:
# you can do daft slices like the following:
df2.loc["332 Hill St":"1056 Sanchez St","City":"Name"]

                          City             State Country         Name
Address
332 Hill St      San Francisco  California 94114     USA  Super River
3995 23rd St     San Francisco          CA 94114     USA   Ben's Shop
1056 Sanchez St  San Francisco        California     USA      Sanchez

In [69]:
# can convert slices to lists
df2.iloc[2]
list(df2.iloc[2])

ID                          3
City            San Francisco
State        California 94114
Country                   USA
Name              Super River
Employees                  25
Name: 332 Hill St, dtype: object

[3, 'San Francisco', 'California 94114', 'USA', 'Super River', 25]

In [71]:
# mix loc and iloc
df2.ix[0, "Name"]

'Madeira'